head {
  display: none;
}

html,
body {
  min-width: 400px;
  height: 100%;
  margin: 0;
  padding: 0;
}

body,
input {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
}

body {
  background: #fff;
}

ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.navbar-wrapper {
  float: right;
}

.profile-picture {
  border-radius: 100px;
}

.gmail,
.images {
  margin-top: 0.5em;
}

.gmail-link,
.images-link {
  color: rgba(0, 0, 0, .87);
}

.hamburger {
  margin-top: 0.3em;
}

.google-logo-container {
  height: 650px;
  position: relative;
  align-items: center;

}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.search {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -5em;
}

.search-input {
  display: flex;
  width: 600px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 44px;
  margin-top: 8em;
}

.search-input:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.search-input:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding-top: 1em;
}

button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}

button:hover {
  border: 1px solid #c8c8c8;
  color: #3c4043;
}

button:focus {
  border: 1px solid #3c4043;
}

.micro, .camera {
  height: 20px;
  position: relative;
  bottom: 35px;
  right: -500px;
}

.magnifying-glass {
  height: 20px;
  position: relative;
  bottom: 35px;
  right: -15px;
}

.language-switch {
  color: #4d5156;
  display: flex;
  justify-content: center;
  line-height: 28px;
  flex-grow: 1;
  margin-bottom: 5em;
}

.country {
  background: #f2f2f2;
  padding: 15px 30px;
  border-bottom: 1px solid #dbe1e5;
  font-size: 15px;
  color: #9aa0a6;
}

#links-container {
  background: #f2f2f2;
  display: flex;
  color: #70757a;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

.links {
  display: block;
  padding: 15px;
  white-space: nowrap;
  text-decoration: none;
  color: #999da2;
}